@charset "UTF-8";

@font-face {
    font-family: quicksand;
    src: url(fontes/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: nunitosans;
    src: url(fontes/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

@font-face {
    font-family: ebgaramond;
    src: url(fontes/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
    font-family: whispers;
    src: url(fontes/NostalgicWhispers-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    width: 100%;
    padding: 15px;
    background-color: white;
    margin: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.144);
    text-align: center;
}

nav a {
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    transition-duration: .5s;
    font-size: 11px;
    font-family: quicksand;
}

nav a:hover {
    color: rgba(0, 0, 0, 0.329);    
}

.imagem {
    background-color: rgb(54, 54, 54);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 31vh;
    padding-bottom: 31vh;
}

.imagem a {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-family: nunitosans;
    font-size: 12px; 
    border-radius: 0px;
    transition-duration: .5s;
    border-radius: 10px;
}

.imagem a:hover {
    color: white;
    background-color: black;
}

.imagem h1{
    font-family: whispers;
    font-weight: 1;
    font-size: 70px;
    padding: 70px;
    margin: auto;
}

#imagem1 {
    background-image: url(../imagens/imagem1.jpg);
    background-position: center;
}

#imagem1 img {
    max-width: 200px;
}

.drop {
    padding: 20px;
    display: inline-block;
}

.drop h1 {
    font-size: 20px;
    font-family: nunitosans;
}

.drop h2 {
    font-size: 30px;
    font-weight: 1;
    font-family: whispers;
}

.mockup {
    text-align: center;
}

.mockup img {
    max-width: 440px;
    transition-duration: .5s;
}

.mockup img:hover {
    max-width: 460px;
}

.texto {
    margin: auto;
    padding: 20px;
    text-align: center;
    max-width: 900px;
}

.texto p {
    text-align: center;
    font-family: nunitosans;
}

.texto a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.texto a:hover {
    text-decoration: underline;
}

.shop {
    text-align: center;
    padding-bottom: 30px;
}

.shop strong {
    font-weight: bold;
}

.shop a {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: nunitosans;
    font-size: 12px; 
    border-radius: 0px;
    transition-duration: .5s;
    border-radius: 10px;
}

.shop a:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Página 'SHOP' */

#imagem2 {
    background-image: url(../imagens/imagem3.jpg);
    background-position: right center;
}

#imagem2 img {
    max-width: 200px;
}

/* Página 'SOCIAL MEDIA' */

nav.social {
    position: fixed;
    width: 100%;
    padding: 15px;
    background-color: black;
    margin: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.144);
    text-align: center;
}

nav.social a {
    color: white;
}

.container {
    width: 400px;
    height: calc(100vh - 178px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container h1 {
    color: black;
    padding: 30px;
    font-family: whispers;
}

.container img {
    max-width: 200px;
}

.container a#insta {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: nunitosans;
    font-size: 12px; 
    border-radius: 0px;
    transition-duration: .5s;
    border-radius: 10px;
}

.container a#yt {
    display: inline-block;
    padding: 20px 66px 20px 66px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: nunitosans;
    font-size: 12px; 
    border-radius: 0px;
    transition-duration: .5s;
    border-radius: 10px;
}

.container a#insta:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
}

.container a#yt:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
}

.btn a {
    margin: 10px;
}